---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: longread-blog

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - postgres-pvc.yaml
  - postgres-statefulset.yaml
  - postgres-service.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: longread-blog
  app.kubernetes.io/version: "1.0.0"
  app.kubernetes.io/managed-by: kustomize

# namePrefix: prod-

commonAnnotations:
  description: "Longread blog platform - Variant 09"
