---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: app-prod
resources:
  - ../../base
patches:
  - path: patches/ingress-host.yaml
  - path: patches/server-resources.yaml
  - path: patches/web-resources.yaml
  - path: patches/config-overrides.yaml
